@model IEnumerable<MJ_13.Models.Actividades>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Leader.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lider.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Predicador.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Programa.Programa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actividad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActividadL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PredicadorTipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CitaBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoParticipantes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Realizada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Leader.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lider.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Predicador.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Programa.Programa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actividad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActividadL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PredicadorTipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tema)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CitaBase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoParticipantes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Realizada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
