@model IEnumerable<MJ_13.Models.Actividades>

@{
    ViewBag.Title = "Actividades";
}

<h2>Actividades</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actividad)
        </th>
        <th>
            Encargado
        </th>
        <th>
            Ludica
        </th>
        <th>
            Dirige
        </th>
        <th>
            Predicador
        </th>
        <th>
            Tipo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CitaBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoParticipantes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Programa.Programa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Realizada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Numero)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fecha)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Medio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Actividad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Lider.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ActividadL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Leader.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Predicador.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Predicador.Tipo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tema)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CitaBase)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NoParticipantes)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Programa.Programa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Realizada)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Observaciones)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Info", "Details", new { id = item.ID }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
