@model MJ_13.Models.Tareas

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro de querer eliminar este registro?</h3>
<div>
    <h4>Tareas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarea)
        </dd>

        <dt>
            Encargado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lider.Nombre)
        </dd>

        <dt>
            Fecha Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            Fecha Final
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
