@model MJ_13.Models.Tareas

@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>

<div>
    <h4>Tareas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarea)
        </dd>

        <dt>
            Encargado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lider.Nombre)
        </dd>

        <dt>
            Fecha Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            Fecha Final
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
