@model MJ_13.Models.Programas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Programas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lider.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lider.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Programa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
